.search_bar_box{
    text-align: center;
    width: 400px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.input{
    
    border: none;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    font-family: 'Rubik', sans-serif;
}

.btn{
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: #dbdee0;
    font-family: 'Rubik', sans-serif;
}

.btn:hover{
    cursor: pointer;
    background-color: #16e0a48a;
    transition: 0.4s;
}