.create_box{
    min-height: 100%;
    background-image: url("https://images3.alphacoders.com/767/767468.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.btn{
    width: 54px;
    height: 25px;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color:white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
   
    background: none;
}

.btn:hover{
    cursor: pointer;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.500);
}

.form{
    background-color: rgba(255, 255, 255, 0.555);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.type_select{
    height: 24px;
    border-radius: 10px;
    outline: none;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

.error{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.type_btn{
    height: 22px;
    margin: 5px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    border:none;
    border-radius: 10px;
    background-color: green;
}

.type_btn:hover{
    cursor: pointer;
    background-color: red;
    color: white;
    transition: 0.4s;
}

.submit_btn{
    height: 30px;
    margin: 15px;
    border: none;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    background: none;
}

.submit_btn:hover{
    cursor: pointer;
    color: red;
    font-weight: bold;
    background-color: rgba(255, 250, 250, 0.5);
}