.home_box{
    min-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    

    background-image: url("https://images3.alphacoders.com/767/767468.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}



.btns_box{
    width: 1700px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    color: rgb(0, 0, 0);
    background-color: rgba(158, 6, 158, 0.466);
    font-family: 'Rubik', sans-serif;
}



.pokemons_box{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: space-around;
}

.btn{
    border-radius: 10px;
    border: aliceblue;
    background: whitesmoke;
    font-size: 16.5px;
    font-family: 'Rubik', sans-serif;
}

.btn:hover{
    cursor: pointer;
    background-color: rgba(3, 248, 105, 0.527);
    transition: 0.4s;
}

.error{
    grid-column-start: 2;
    font-family: 'Rubik', sans-serif;
}

.loading{
    grid-column-start: 2;
    font-family: 'Rubik', sans-serif;
}



.header {
    margin-top: 1%;
    margin-right: 10%;
    margin-bottom: 1%;
    margin-left: 10%;  
    padding: 128px;
    background-image: url("https://i.ibb.co/84XPDpt/aaaaaaaaaaaaaaaaaaaaaaaaaaaa.png");
    transition: background-position 1s;
    background-size: 100%;
    
}
.header:hover{
    background-position: 50%;
     background-position: right;
}



