.detail{
    display: contents;
    flex-direction: row;
    padding: 10px;
}

.name{
    width: 30%;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
}

.data{
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
}