.filter_box{
    height: 100%;
    width: 400px;
    display:flex;
    flex-direction: row;
    
}



.type_select{
    height: 100%;
    border-radius: 10px;
 
}

.origin_select{
    height: 100%;
    border-radius: 10px;
}